.homepage {
    min-height: 80%;
    .main-section {
      .form-box {
          margin-top: 5%;
          position: relative;
          .loader-wrap {
              position: absolute;
              background: rgba(0,0,0,0.3);
              top: 0; left: 0; right: 0; bottom: 0;
              z-index: 100;
              @include flex-align();
          }
          form {
              [type=submit] {
                  @extend .btn-default;
              }
          }
      }
    }
    
    //Navigation
    #navigation {
        //background: rgba($color-1-rgb, 0.8);
        background: $color-2;
        box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.32);
        #main-nav {
            margin-top: 15px;
        }
        .logo-spot {
            text-align: center;
        }
        .form-block {
            .form-inline {
                margin-top: 15px;
            }
        }
        .navbar {
            &-brand {
                margin-right: 0;
                img {
                    width: 55px;
                    display: block;
                }
            }
            &-nav {
                .nav-item {
                    .nav-link {
                        color: $white;
                        &:hover {
                            transition: 0.3s;
                            background: $color-1;
                            border-radius: 5px;
                        }
                    }
                }
            }
            &-toggler {
                background: #6f603b;
                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(71, 62, 40)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                }
            }
        }
        @include media($sm, 'max') {
            &.navbar-expand-md > .container {
                padding-left: 15px;
                padding-right: 15px;
                & > .row > .col-md-4:first-child {
                    order: 2;
                }
            }
            .logo-spot {
                display: flex;
                order: 1;
                justify-content: space-between;
                align-items: center;
            }
            .navbar-nav {
                .nav-item {
                    margin-bottom: 5px;
                    .nav-link {
                        background: #6f603b;
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
    
   
    
    #main-footer {
        .final-block {
            padding: 15px;
            margin-top: 30px;
            border-top: 1px solid $color-1;
            color: $white;
            font-size: 12px;
        }
    }
}