body {
    font-family: $font-two;
}

.h2-section {
    @include fontset(left, $font-three, 32px, 700, initial, $color-2);
    margin-bottom: 3%;
    &:after {
        content: '';
        display: block;
        height: 5px;
        width: 50px;
        background: $color-3;
        margin: 10px 0;
    }
}
.btn-default {
    display: inline-block;
    background: $white;
    @include fontset(center, $font-three, 16px, 400, initial, $color-2);
    padding: 1em;
    border-radius: 5px;
    width: 20%;
}